
body {
  direction: rtl;
  font-family: YekanBakh;
}
/************** header css codes***************/
.sanavbar-pic {
  background-image: url("../images/navbarpic.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.sanavbar-pic2{
  background-image: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.15) 52%, #000 100%);
  background-size:cover;
  background-repeat: no-repeat;
}

/************** navbar css codes***************/
.sa-navbar{
  width: 80vw;
  font-size: 12px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  border:1px solid white;
  border-radius: 50px;
}

.sabtn-nav{
  font-size: 12px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.sanav-item::after{
  content: " ";
  width: 0.5px;
  height: 10px;
  background-color: white;
  color: white;
  display: inline-block;
  position: relative;
  right:23px;
  bottom: 24px;
}
.menu{
  position: relative;
top: 12px;
}

/************** end of navbar css codes***************/
/************** end of header css codes***************/
.tell{
  border-left:0.5px solid #c4c4c4;
  border-right:0.5px solid #c4c4c4;
}


/************** section-nav codes***************/
.section1{
  color: white; 
}
.part1{
  width: 55vw;
  text-align: center;
}
.part1 p{
  font-size: 0.7rem;
  line-height: 1.71;
} 
.scroll{
  color: white;
  transform: rotate(-90deg);
  position: absolute;
  top: 395px;
  left: 125px;
}
.scroll img{
  transform: rotate(90deg);
  position: relative;
  bottom: 6px;
  right:18px;
}

/************** end of section-nav codes***************/


/************** about codes***************/
.container{
  width: 80vw;
}
h2{
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.28px;
  text-align: right;
  color: #ca1119;
}
h6{
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.28px;
  text-align: right;
  color: #040001;
}
.about p{
  color: #757575;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.28px;
  text-align: right;
}
/************** end of about codes***************/



/************** product codes***************/
.categorization::after{
  content: " ";
  width: 0.5px;
  height: 50px;
  background-color: #dedede;
  display: inline-block;
  
}
.categorization span{
  position: relative;
}
.product p{
  color: #757575;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.28px;
  text-align: right;
}
.bg2 img{
  width: 61px;
  height: 63px;
}
/************** end of product codes***************/

/************** Best-selling codes***************/
.Best-selling p{
  color: #757575;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.28px;
  text-align: right;
}

.pic-best1 {
  padding-right: 0;
}
.pic-best4 {
  padding-left: 0;

}

.Best-selling h6{
 font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

/**************end of Best-selling codes***************/



/**************form codes***************/
.saform-pic {
  background-image: url('../images/form-pic.png');
  background-position: center;
  background-size: cover;
} 
.saform-pic2{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  background-size:cover;
}
.form p{
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}
.form h3{
  color: #fff;
}
/**************end of form codes***************/
/**************article codes***************/

article p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #757575;
}
.article p{
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #595959;
}
/**************end of article codes***************/

/**************footer codes***************/

.submit-btn{
position: absolute;
left:5px;
bottom: 3.5px;
}

.social-media{
  background-color: #0f0f0f;
}
footer p {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: right;
  color: #f5f5f5;
}





/**************end of footer codes*************************************************/

@font-face{
  font-family: YekanBakh;
  src:url('../fonts/YekanBakh-Regular.ttf')
}



@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?klj74w');
  src:  url('../fonts/icomoon.eot?klj74w#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?klj74w') format('truetype'),
    url('../fonts/icomoon.woff?klj74w') format('woff'),
    url('../font/icomoon.svg?klj74w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}