
body {
  direction: rtl;
  font-family: YekanBakh;
}
/************** header css codes***************/
.sanavbar-pic {
  background-image: url("../images/navbarpic.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.sanavbar-pic2{
  background-image: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.15) 52%, #000 100%);
  background-size:cover;
  background-repeat: no-repeat;
}

/************** navbar css codes***************/
.sa-navbar{
  width: 80vw;
  font-size: 12px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  border:1px solid white;
  border-radius: 50px;
}

.sabtn-nav{
  font-size: 12px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.sanav-item::after{
  content: " ";
  width: 0.5px;
  height: 10px;
  background-color: white;
  color: white;
  display: inline-block;
  position: relative;
  right:23px;
  bottom: 24px;
}
.menu{
  position: relative;
top: 12px;
}

/************** end of navbar css codes***************/
/************** end of header css codes***************/



/************** section-nav codes***************/
.section1{
  color: white; 
}
.part1{
  width: 55vw;
  text-align: center;
}
.part1 p{
  font-size: 0.7rem;
  line-height: 1.71;
} 
.scroll{
  width: 100px;
  color: white;
  transform: rotate(-90deg);
  position: absolute;
  top: 300px;
  left: 120px;
}
.scroll svg{
  position: relative;
  top:5px;
  right:10px;
}

/************** end of section-nav codes***************/


/************** about codes***************/
.container{
  width: 80vw;
}
h2{
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.28px;
  text-align: right;
  color: #ca1119;
}
h6{
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.28px;
  text-align: right;
  color: #040001;
}
.about p{
  color: #757575;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.28px;
  text-align: right;
}
/************** end of about codes***************/











.text-footer{
  color: #c6c6c6;
}



@font-face{
  font-family: YekanBakh;
  src:url('../fonts/YekanBakh-Regular.ttf')
}
